@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Poppins:wght@100;300;400;500;600&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root{
  --primary-color:#F7F7F9;
  --secondary-color:#6082B6;
}

body{
  background-color: var(--secondary-color);
  overflow-x:hidden;
}
html{
  font-size: 75.5%;
  
}

.header{
  width: 100%;
  height:90vh;
  color: var(--secondary-color);
  box-shadow: 0 5px 10px var(--secondary-color);
  display: flex;
  align-items: center ;
  position: relative;
  background: url(./images/book5.jpg) no-repeat;
  background-size: cover; 
  background-origin:border-box;
}

.row2{

  position: absolute;
  top:10px;
  left:7%;
  text-align: center;
 
}
.row2 h2{
  font-size: 3rem;
margin-top: 20px;
margin-bottom: 15px;


}
.row2 p{
  color:var(--primary-color);
  margin-top: 10rem;
  font-size: 15px;
 
}
.row1 h1{
  top: 10%;
  letter-spacing: 2px;
  margin-left: 5%;
  font-size: 10rem;
  text-align: center;
  font-family: 'Bodaoni Moda','serif';
  position: absolute;
color:var(--primary-color);
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;

}
.search input{
  outline: 0;
  border: 1px solid black;
background-color: 	var(--primary-color);
  margin-top:35rem;
  border-radius: 20px;
  width: 350px;
  height: 50px;
  padding: 0 1.2rem;
  font-size: 15px;
  font-weight: bold;
}

.card img{
  width:100%;
  height: 16rem;
border-radius: 1rem 1rem 0 0 ;
object-fit: cover;
}
.container{
  width:90%;
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
  grid-gap:20px;
  box-sizing: border-box;

}
.card{
  background-color: var(--primary-color);
  border-radius: 1rem;

  margin-bottom: 10px;

  transition: .5s;
  text-align: center;
  position: relative;
height: 27rem;

}
.card:hover{
  transform: scale(1.1);
 
}
.card .bottom{
  display: flex;
  flex-direction: column;
}
.card .bottom .title{
  font-size: 14px;
  margin-bottom: 12px;
}
.card .bottom .amount{
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
 font-size: 13px;
 font-weight: bold;
 padding: 0.2rem;
}
.overlay{
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1));
  display: flex;
  align-items:center;
  justify-content: center;
}
.inner-overlay{
  background: #fff;
  width: 700px;
  height: 550px;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.3rem;
}
.modalimg{
  margin-right: 20px;
  width: 200px;
  height: 200px;

}
.inner-overlay .close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  outline: none;
  border: none;
  font-size: 17px;
 color: red;
 background-color: #fff;
}
.inner-overlay .inner-box{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.inner-overlay .inner-box h3{
  margin-top: 10px;
  color: green;
}
.inner-overlay .inner-box h4{
  color: blue;
}
.inner-overlay .inner-box button{
  outline: none;
  border: none;
  width: 100px;
  border-radius: 5px;
  background-color: #24a0ed;
  color: #fff;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
}
.inner-overlay .inner-box .description{
  margin-top: 2rem;
  text-align:justify;
  font-size: 13px;
}